<h1>New Post</h1>

<%= form_for @post do |f|%>
  <p>
    <%= f.label :headline %>
  </p>
  <p>
    <%= f.text_field :headline %>
  </p>
  <p>
    <%= f.label :summary %>
  </p>
  <p>
    <%= f.text_field :summary %>
  </p>
  <%= f.submit "Create Post" %>
<% end %>
  