<h1>More Info</h1>

<p><%= @post.headline %></p>
<p><%= @post.summary %><p>
<%= link_to "Delete Post", post_path(@post), method: :delete %>

<h2>Comments:</h2>

<% @post.comments.each do |comment| %>
  <p><%= comment.content %></p>
  <p><%= comment.username %></p>
<% end %>

<%= form_for [@post, @post.comments.new] do |f| %>
  <p>
    <%= f.label :content %>
  </p>
  <p>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :username %>
  </p>
  <p>
    <%= f.text_field :username %>
  </p>
  <%= f.submit "Create Comment" %>
<% end %>