<div class="container" >
<h1><%= @post.headline %></h1>

<p><%= @post.summary %><p>
<%= link_to "Delete Post", post_path(@post), method: :delete %>
<%= link_to "Main Page", posts_path %>


<h2>Comments:</h2>
<hr>
<% @post.comments.each do |comment| %>
  <p><b>Comment:</b>
<%= comment.content %></p>
  <p><b>Username:</b>
<%= comment.username %></p>
  <hr>
<% end %>

<%= form_for [@post, @post.comments.new] do |f| %>
  <p>
    <%= f.label :comment %>
  </p>
  <p>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :username %>
  </p>
  <p>
    <%= f.text_field :username %>
  </p>
  <%= f.submit "Create Comment" %>
<% end %>
</div>